<h3>
  lista de usuarios
</h3>

<table class="table table-hover">
  +  <thead>
+  <tr>
  +    <th>Id</th>
  +    <th>Nome</th>
  +    <th>Email</th>
  +  </tr>
+  </thead>
  +  <tbody>
+  <% for usuario in @usuarios %>
    +      <tr>
  +        <td><%= usuario.id %></td>
  +        <td><%= usuario.nome %></td>
  +        <td><%= usuario.email %></td>
  +      </tr>
    +  <% end %>
+  </tbody>
  +</table>